body {
    margin: 0;
    padding: 0;
    background-color: #F2DEBA;
    font-family: 'Josefin Sans', sans-serif;
    border: 6px solid #F2DEBA;
}

h1 {
    color: #ad10b3;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Ink Free', cursive;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2DCDDF;
    border: #2DCDDF, 5px, solid;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3C79F5;
}

footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #6C00FF;
    border: 6px solid #F2DEBA;
    border-radius: 10px;
}

.impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}

.josefin {
    font-family: 'Josefin Sans', sans-serif;
}

.pacifico {
    font-family: 'Pacifico', cursive;
}

.rowdies {
    font-family: 'Rowdies', cursive;
}

.secular {
    font-family: 'Secular One', sans-serif;
    font-size: 5vw;
    text-shadow: 2px 2px 2px #000;
}

.secular-title {
    font-family: 'Secular One', sans-serif;
}

.rancho {
    font-family: 'Rancho', cursive;
}

.fa-arrow-up-from-bracket {
    font-size: 2vw;
    color: #FF4E50;
}

.fa-bolt {
    font-size: 2vw;
    color: #FF4E50;
}

.fa-umbrella {
    font-size: 2vw;
    color: #FC913A;
}

.fa-windows {
    font-size: 2vw;
    color: #F9D423;
}

.fa-ticket {
    font-size: 2vw;
    color: #EDE574;
}

.fa-hashtag {
    font-size: 2vw;
    color: #E1F5C4;
}

.icon1 {
    font-size: 2vw;
    color: #FF4E50;
}

.icon2 {
    font-size: 2vw;
    color: #FC913A;
}

.icon3 {
    font-size: 2vw;
    color: #F9D423;
}
